* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: auto;
}

.nav {
  vertical-align: top;
  position: fixed !important;
  display: flex;
  justify-content: center;
  background-color: #9FBFC5;
  opacity: 0.75;
  filter: alpha(opacity=20);
  /* For IE8 and earlier */
  width: 100%;
  height: 6vh;
  z-index: 1;
}

.nav:hover {
  opacity: 0.9;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */

}

.nav li {
  display: inline-block;
  margin: 10px 10px;
}

.nav a {
  color: black;
  text-decoration: unset;
}


.section {
  padding: 8rem 0 15rem;
}

.hero {
  padding-bottom: 12rem;
  text-align: left;
  height: 165px;
}

.scaled {
  transform: scale(0.85);
  /* Equal to scaleX(0.7) scaleY(0.7) */
}


.center {
  display: flex;
  justify-content: center
}

#myface {
  height: 30vh;
  border-radius: 10%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.top {
  vertical-align: top;
  margin-top: -4vh;
  text-align: center;
  text-decoration: underline;
}

.personal {
  background-color: azure;
}

#readme {
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: .5em;
}

#readme a {
  font-size: 2.1vh
}

.projects {
  background-color: #42A3B5;
  overflow: hidden;
}

.contact {
  color: white;
}

.projects a {
  color: navy
}


sub {
  font-size: 9pt;
  color: gray;
}

.contact {
  background-color: #013039;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}